:local {
  /* stylelint-disable selector-class-pattern */

  .textarea {
    border: #dedfe0 solid 1px;
    border-radius: 0.25em;
    font-size: 1em;
    line-height: 1.25;
    padding: 0.178em;
    width: 100%;

    &[required] {
      box-shadow: unset;
    }

    &:focus {
      border-color: #0092e0;
      box-shadow: 0 0 1px #fff, 0 0 1px 3px rgba(76, 178, 233, 0.5), 0 0 7px 4px rgba(76, 178, 233, 0.28);
      outline: none;
    }
  }
}
